# This is the config file for building GDAL and running its autotest suite
# with Travis-ci.org on a Mac-OSX machine

language: objective-c

# We use clang, --without-libtool and --with-debug for faster build
compiler:
  - clang

install:
# build proj
  - brew info gdal
  - curl http://download.osgeo.org/proj/proj-4.8.0.tar.gz > proj-4.8.0.tar.gz
  - tar xvzf proj-4.8.0.tar.gz
  - cd proj-4.8.0/nad
  - curl http://download.osgeo.org/proj/proj-datumgrid-1.5.tar.gz > proj-datumgrid-1.5.tar.gz
  - tar xvzf proj-datumgrid-1.5.tar.gz
  - cd ..
  - ./configure --prefix=/usr
  - make -j3
  - sudo make install
  - cd ..
# build GDAL
  - cd gdal
  - ./configure --prefix=/usr --enable-debug --with-jpeg12 --with-python --with-geotiff=internal --with-png=internal
  - make -j3
  - cd apps
  - make test_ogrsf
  - cd ..
  - sudo make install
  - cd ../autotest/cpp
  - echo $PATH
  - sudo rm -rf /usr/local/Cellar/gdal/1.10.1_1/*
  - sudo ln -s /usr/bin /usr/local/Cellar/gdal/1.10.1_1
  - sudo ln -s /usr/lib /usr/local/Cellar/gdal/1.10.1_1
  - sudo ln -s /usr/include /usr/local/Cellar/gdal/1.10.1_1
  - sudo mkdir /usr/local/Cellar/gdal/1.10.1_1/share
  - sudo ln -s /usr/share/gdal /usr/local/Cellar/gdal/1.10.1_1/share
  - PATH=/usr/bin:$PATH gdal-config --version
  - PATH=/usr/bin:$PATH gdal-config --cflags
  - PATH=/usr/bin:$PATH make -j3
  - cd ../../gdal

script:
# CPP unit tests
  - cd ../autotest
  - cd cpp
  - GDAL_SKIP=JP2ECW make quick_test
  - cd ..
# Run all the Python autotests
  - make -j test

notifications:
  email:
    recipients:
      - gdal-commits@lists.osgeo.org

  irc:
    channels:
      - "irc.freenode.org#gdal"
    use_notice: true
    on_success: change

