os: Visual Studio 2015

platform:
- x64
- x86

shallow_clone: true

install:
- if "%platform%" == "x86" SET PATH=c:\python27;%PATH%
- if "%platform%" == "x64" SET PATH=c:\Python27-x64;%PATH%
- if "%platform%" == "x86" call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat"
- if "%platform%" == "x64" "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64
- if "%platform%" == "x64" call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" x86_amd64
- if "%platform%" == "x64" SET PATH="C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\BIN\amd64";%PATH%
- if "%platform%" == "x64" set WIN64_ARG="WIN64=YES"
- ps: Start-FileDownload http://download.osgeo.org/proj/proj-4.9.1.tar.gz
- 7z x proj-4.9.1.tar.gz
- 7z x proj-4.9.1.tar
- cd proj-4.9.1
- nmake /f makefile.vc
- nmake /f makefile.vc install-all
- cd ..
- cd gdal
- nmake /f makefile.vc MSVC_VER=1900 DEBUG=1 %WIN64_ARG% USER_DEFS="/wd4458 /wd4456 /WX"
- cd apps
- nmake /f makefile.vc test_ogrsf.exe MSVC_VER=1900 DEBUG=1 %WIN64_ARG% USER_DEFS="/wd4458 /wd4456 /wd4457 /WX"
- cd ..
- cd swig\python
- python setup.py build
- python setup.py install
- cd ..\..
- cd ..\autotest\cpp
- nmake /f makefile.vc MSVC_VER=1800 %WIN64_ARG%
- cd ..\..


build_script:
  - echo build_script

test_script:
  - echo test_script
  - SET PATH=%CD%\gdal;%CD%\gdal\apps;c:\proj\bin;%PATH%
  - SET GDAL_DATA=%CD%\gdal\data
  - cd autotest
  - cd cpp
  - nmake /f makefile.vc check MSVC_VER=1900 %WIN64_ARG%
  - cd ..
  - python run_all.py

deploy: off

